{% extends 'main/layout.html' %}
{% block title %}
Новости на сайте
{% endblock %}

{% block body %}
<div class="features">
    <h1>Последние новости</h1>
    {% if news %}
      {% for new in news %}
        <div class="alert alert-warning">
          <h3>{{ new.title }}</h3>
          <p>{{ new.intro}}</p>
          <a href="{% url 'news-detail' new.id %}" class="btn btn-warning">Читать детальнее</a>
        </div>
      {% endfor %}
      {% else %}
        <p>На текущий момент новостей нет...</p>
    {% endif %}


  {# Комментарий #}
</div>
{% endblock %}
